
    <h1>Seja bem vindo!</h1>
    <!--<p>Vamos apresentar a vocés alguns dos nossos produtos</p>-->



      <h3>Temos celulares de ultima geração.</h3>
      <p>Aqui voce encontra tudo com estrema qualidade!</p>

      </div>
      <img src="/img/iphone.jpg" alt="" title="Apple" />

        <h5>IPHONE
            <br>
         iPhone 11 Apple 128GB Preto Tela de 6,1”, Câmera Dupla de 12MP, iOS
        </h5>
        <h5>R$:4000,00</h5>
        <input type="button" value="Comprar">
        <br>
        <input type="button" value="Adicionar ao carrinho">
        <div>
        <br>


        <img src="/img/asus.jpg" alt="" title="Asus" width="352" height="263" />
        <h5>Asus
            <br>
            Smartphone ASUS Zenfone Max Pro (M2) 6GB/64GB Titanium
        </h5>
        <h5> R$:1500,00</h5>
        <input type="button" value="Comrpar">
        <br>
        <input type="button" value="Adicionar ao carrinho">

        <br>

        <img src = "/img/redmi.jpg" alt = "" title="Redmi" width="352" height="263">
        <H5>Xiomi
            <br>
            Smartphone Xiaomi Redmi 9T Cinza 128GB, Tela 6,53", 4GB de RAM, Bateria 6000mAh, Câmera Quádrupla, Android 10 e Processador Snapdragon 662
        </H5>
        <h5>R$:2000,00</h5>
        <input type="button" value = "Comprar" >
        <br>
        <input type="button" value="Adicionar ao carrinho">



  <br>
            <br>
            <br>
            <br>
      
